<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Shop</a></li>
                <li><a href="/admin/add-product">Add Product</a></li>
                <li><a href="/contactus">contact us</a></li>
                

            </ul>
        </nav>
    </header>

    <main>
        <form  action="/Contactus" method="POST">
            <label> Enter name : </label>
            <input type="text" name="name"><br>
            <label> Enter email-id</label>
            <input type="text" name="email"><br>


            <button type="submit">Submit</button>
        </form>
    </main>
</body>

</html>